body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
